<div
  class="container-fluid row justify-content-center"
  style="background-color: #efc230;"
>
  <img src="/static/img/404.png" alt="img 404" style="max-width: 450px; height: auto;"/>
  <a href="http://www.freepik.com">Designed by Freepik</a>
</div>