<div class="container">
    <h1>Acerca de</h1>
    <h3>Perfil Técnico</h3>
    <p>Soy un desarrollador WEB versatil en el uso de lenguajes, he desarrollado aplicaciones web con el stack MERN y también con php y apache.
    También he desarrollado apps para teléfonos android tanto con java como con kotlin. </p>
</div>