<div class="container">
  <div class="row data-masonry='true'">
      {{#each data}}
      <div class="col-6">
          <p class="h4">{{id}} -{{apellido}}, {{nombre}} - {{direccion}}</p>
      </div>
      {{/each}}
  </div>
</div>