<div class="row">
  <div class="container-fluid col-6">
    <h3><i class="fas fa-address-card"></i> Acerca de mi</h3>
    <p>Soy un desarrollador WEB versatil en el uso de lenguajes, he desarrollado
      aplicaciones web con el stack MERN y también con php y apache. También he
      desarrollado apps para teléfonos android tanto con java como con kotlin. y
      en mi etapa de estudiante he desarrollado aplicaciones monlíticias en
      java.</p>
    <p>Me considero una persona proactiva, perseverante y bueno escuchando
      diferentes opiniones y puntos de vista. Me apasiona el desarrollo por que
      siempre buscando nuevos desafios que me ayuden a mejorar mis habilidades.
    </p>
  </div>
  <img src="../img/ProfilePicture.png" alt="profile picture" />
</div>