<div class="container-fluid col-4">
  <form action="/ofertas/create" method="post">
    <h1>Contacto</h1>
    <fieldset>
      <legend>Datos de contacto</legend>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Ingrese su nombre..."
        />
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="last_name"
          name="last_name"
          placeholder="Ingrese su apellido..."
        />
      </div>
      <div class="mb-3">
        <label for="tel" class="form-label">Télefono</label>
        <input
          type="text"
          class="form-control"
          id="tel"
          name="tel"
          placeholder="Ingrese su Télefono con el formato +54 380 1234567"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input
          type="text"
          class="form-control"
          id="E-mail"
          name="email"
          placeholder="Ingrese su email..."
        />
      </div>

    </fieldset>
    <fieldset>
      <legend>Datos de oferta</legend>
      <div class="mb-3">
        <select class="form-select" aria-label="Tipo de oferta" name="tipo">
          <option selected value="2">Elija una opción</option>
          <option value="0">Puesto de trabajo</option>
          <option value="1">Desarrollo freelance</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="company_name" class="form-label">Nombre de la empresa</label>
        <input
          type="text"
          class="form-control"
          id="company_name"
          name="company_name"
          placeholder="Ingrese el nombre de su empresa..."
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="descripcion"
          placeholder="Ingrese una breve descripción del trabajo..."
        />
      </div>
    </fieldset>
    <div class="container-fluid row">
      <input type="submit" value="Enviar" class="btn btn-success col-3" />
      <div class="col-6"></div>
      <input type="button" value="Cancelar" class="btn btn-danger col-3" />
    </div>
  </form>
</div>