<div class="col-4 text-white">
  <img
    src="/static/img/ProfilePicture.png"
    alt="profile picture"
    style="max-width: 30vw ; height: auto;"
  />
  <div class="container-fluid text-center">
    <h3>Ocampo Rombolá Juan Pablo</h3>
    <h4>Desarrollador WEB</h4>
  </div>
</div>
<div class="container-fluid col-4">
  <h3><i class="fas fa-address-card"></i> Acerca de mi</h3>
  <p>Soy un desarrollador versátil especializado en aplicaciones web por medio
    de Mern Stack, con amplio conocimiento de php.</p>
  <p>A lo largo de mi carrera he programado apps para android con variados
    lenguajes, tales como java y kotlin, y codifiqué aplicaciones monolíticas en
    Java.
  </p>
  <p>Me considero una persona proactiva, perseverante y bueno escuchando
    diversos puntos de vista y opiniones. Me apasiona el desarrollo ya que
    siempre estoy buscando nuevos desafíos que me ayuden a mejorar mis
    habilidades y crecer como profesional.</p>
</div>