<footer class="container-fluid p-5 bg-primary text-white text-center">
  <p>Proyecto de WEB CV con soporte para contacto y autorespuesta a través de mail</p>
  <p>Desarrollado por Juan Pablo Ocampo Rombolá < orJuanPablo ></p>
</footer>