<header class="container-fluid bg-info p-3 bg1">
  <div class="container">
      <div class="row">
          <div class="col-6">
              <h1 class="text-upp">UTN</h1>
          </div>
          <div class="col-6">
              {{> navBar}}
          </div>
      </div>
  </div>
</header>